/* ==================================[ROUTER 2] ========================================== */
/* .productBtn {
    background: pink;
    border:none;
    margin-right: 5px;
}
.productBtn:hover {
    background: red;
    
}
.itemBtn {
    background: #aaa;
    border:none;
}
.itemBtn:hover{
    background: blue;
} */


/* =========================== [ROUTER 3] Sử dụng được useNavigate để truyền dữ liệu là một object qua router giữa hai component================================== */
