
.productBtn {
    background: pink;
    border:none;
    margin-right: 5px;
}
.productBtn:hover {
    background: red;
    
}
.itemBtn {
    background: #aaa;
    border:none;
}
.itemBtn:hover{
    background: blue;
}